.customers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    flex: 44.82% 0 0;

    @include tablet {
      flex: 30.5% 0 0;
    }

    @include desktop {
      flex: 1 1 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--icon-color);
    transition-duration: 250ms;
    transition-property: border-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--brand-color);
      border-color: var(--brand-color);
    }
  }
}
