.header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--header-border-color);

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 93px;
    }
}