.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--header-border-color);

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include desktop {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__logo {
    @include tablet {
      margin-right: 88px;
    }

    @include desktop {
      margin-right: 93px;
    }
  }

  &__menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: fill, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 11;

    &.is-open {
      .header__menu-close-icon {
        display: block;
      }

      .header__menu-open-icon {
        display: none;
      }
    }

    @include tablet {
      display: none;
    }

    &:hover,
    &:focus {
      fill: var(--brand-color);
    }
  }

  &__menu-close-icon {
    display: none;
  }

  &__menu-wrapper {
    position: relative;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px 40px;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    z-index: 10;

    &.is-open {
      display: flex;
    }

    @include tablet {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: static;
      padding: 0;
    }
  }
}
